<%- include('partials/header') %>

  <div class="container w-50 mt-5">
    <div class="row">
      <div class="col col-sm">
        <h2>This is the ERROR PAGE</h2>
        <h4>An <strong>error</strong> occurred that led you to this page</h4>
        <p>Click on this link to go the home page --> <a href="./index" class="btn btn-primary">Make Payment</a></p>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>