<%- include('partials/header') %>

<div class="container mt-5 w-75">
  <div class="row">
    <div class="col col-sm">
      <div class="card text-center">
        <div class="card-header">
          Online Payment with paystack
        </div>
        <div class="card-body">
          <h5 class="card-title">Online Payment with paystack</h5>
          <p class="card-text">
            Paystack an online payment gateway that makes it easy for merchants to accept credit and debit card payments online from users or customers.
          </p>
          <a href="./pay" class="btn btn-primary">Make Payment</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>