<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col col-sm">
      <form action="/paystack/pay" method="POST">
        <div class="mb-3" style="margin-left: 30%; margin-right: 30%;">
          <label for="amount" class="form-label">Amount</label>
          <input type="text" name="amount" class="form-control" id="amount" aria-describedby="amountHelp">
        </div>
        <div class="mb-3" style="margin-left: 30%; margin-right: 30%;">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3" style="margin-left: 30%; margin-right: 30%;">
          <label class="form-label" for="fullName">Full name</label>
          <input type="text" name="fullName" class="form-control" id="fullName"  aria-describedby="fullNameHelp">
        </div>
        <button type="submit" class="btn btn-primary form-control">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>